// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary:       #2A143C;
$secondary:     #CDC2D8;
$success:       #704F8F;
$info:          #0000;
$warning:       #FFFF;
//$danger:        $red;
//$light:         $gray-100;
//$dark:          $gray-900;

$headings-font-family: 'Cinzel Decorative', serif;
$h1-font-size: 2.5rem;

$font-family-base: 'Abhaya Libre', serif;
$font-size-base: 1rem;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
#hero {
  height: 30vh;
  background-image: url(../images/hero-banner.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}



.btn {
  width: 200px;
}

img {
  height: 30%;
  width: 100px;
}

.foto {
  max-height: 10px;
}

.heading-1 {
  font-size: 2.5rem;
}

.material-symbols-outlined {
  font-size: 5rem;
}

.material-symbols-outlined.-ballone {
  color: #FFFF;
} 